<p-tabMenu [model]="items"></p-tabMenu>

<p-table [value]="empresasInscritas">
    <ng-template pTemplate="header">
        <tr>
            <th>NIT</th>
            <th>Nombre empresa</th>
            <th>Fecha inscripción</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-inscripcion>
        <tr>
            <td>{{inscripcion.empresa.nit}}</td>
            <td>{{inscripcion.empresa.nombre}}</td>
            <td>{{inscripcion.fecha}}</td>
        </tr>
    </ng-template>
</p-table>
