<!DOCTYPE HTML>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <title>
      Sistema Administrador de Información de las Empresas de Telecomunicaciones del País<br />
      SAETEL
    </title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Página principal de SAETEL." />
    <meta name="author" content="Oscar Darío Botero Vargas" />

    <!-- Custom fonts for this template-->
    <link href="/fontawesome-free-5.9.0/css/all.min.css" rel="stylesheet" type="text/css" />

    <link href="/DataTables-1.10.20/datatables.min.css" rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="/v1/css/sb-admin.min.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="/v1/principal">SAETEL</a>

      <button
        class="btn btn-link btn-sm text-white order-1 order-sm-0"
        id="sidebarToggle"
        href="#"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
        </div>
      </form>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="userDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="userDropdown"
          >
            <a
              class="dropdown-item"
              href="#"
              data-toggle="modal"
              data-target="#logoutModal"
            >
              Salir
            </a>
          </div>
        </li>
      </ul>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/v1/principal">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Panel de Control</span>
          </a>
        </li>

        <li class="nav-item" th:each="vistaHTML : ${vistasHTML}">
          <a class="nav-link item-menu" th:href="${vistaHTML.url}">
            <i class="fas fa-fw" th:attrappend="class=((${vistaHTML.nombreIcono} != null) ? | ${vistaHTML.nombreIcono}|)"></i>
            <span
              th:text="${vistaHTML.nombre}"
              data-toggle="tooltip"
              data-placement="right"
              th:title="${vistaHTML.descripcion}"
            >
            </span>
          </a>
        </li>
      </ul>

      <div id="content-wrapper">
        <div class="container-fluid">

          <!-- Breadcrumbs -->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Hilo de Ariadna</a>
            </li>
            <li
              class="breadcrumb-item active"
              th:text="${nombreVista}"
            >
              Nada
            </li>
          </ol>

          <div id="contenedor_principal">
          </div>
          <!-- contenedor_principal -->

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Derechos de autor © Oscar Darío Botero Vargas 2021</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
        class="modal fade"
        id="logoutModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¿ Listo para salir ?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Escoja "Salga" en la parte de abajo si está listo para terminar su sesión actual.
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancele</button>
            <a class="btn btn-primary" href="/finalice">Salga</a>
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="/jquery-3.4.1.min.js"></script>
    <script src="/bootstrap-4.3.1/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/jquery-easing-1.4.1/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/v1/js/sb-admin.min.js"></script>
    <script src="/v1/js/od-varios.min.js"></script>

    <script>
      $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();

        // Escojo los elementos de tipo "a" que son de clase "item-menu".
        $("a.item-menu").click(function() {
          var esteObjeto = $(this);
          var href = esteObjeto.attr('href');
          var contenedor_principal = $("#contenedor_principal");

          jQuery.ajax({
            "method":"GET",
            "url":href,
            error: function(jqXHR, textStatus, errorThrown) {
              var mensajeError =
                'Hubo un error al intentar traer la página de nombre "' + esteObjeto.children("span").first().html() + '".<br /><br />El mensaje del error es:';

              if(textStatus)
                mensajeError += '<br/>' + textStatus;

              if(errorThrown)
                mensajeError += '<br/>' + errorThrown;

              if(jqXHR.hasOwnProperty("responseJSON")) {
                if(jqXHR.responseJSON.hasOwnProperty("message"))
                  mensajeError += '<br />' + jqXHR.responseJSON.message;
                else {
                }
              } else {
              }

              contenedor_principal.html(mensajeError).show();
            },
            success: function(data, textStatus, jqXHR) {
              parseScript(data);
              contenedor_principal.html(data).show();
            }
          });

          return false;
        });
      });
    </script>
  </body>
</html>
